<h1>Thumb TV</h1>
<%= image_tag(@arquivo.imagem.url(:thumbs_tv), :border =>0) %>
<br><br>
<h1>FULL TV</h1>
<%= image_tag(@arquivo.imagem.url(:full_tv), :border =>0) %>
<br><br>
<h1>Image Full</h1>
<%= image_tag(@arquivo.imagem.url, :border =>0) %>